:root {
    --container-color: #EBEBEB;
    --body-color: #fff;
    --title-color: #1BB0F0;
    --border-color: #ccc;
    --hover-color: #f9f8f8;
}

.homepage-container {
    width: 100%;
    background-color: var(--container-color);
}

.homepage-body {
    width: 100%;
    max-width: 1200px;
    background-color: #fff;
    margin: 0 auto;
    padding: 27px 0;
    display: flex;
}