:root {
  --primary-color: #FFFF;
  --header-color-1: #21258E;
  --header-color-2: #BFBFBF;
  --background-color: #FDF4F4;
  --text-color-1: #111111;
  --text-color-2: #FFFF;  
  --green-color: #188A46;
  --hover-text-color: purple;
  --grey-color-1: rgb(212, 212, 212);
  --grey-color-2: #f2f2f2;
  --link-color: #1BB0F0;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  width: 100%;
  height: 60px;
  background-color: var(--header-color-1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}

.header-logo {
  width: 150px;
}

.header-logo-link {
  text-decoration: none;
  display: block;
  width: 100%;
  align-items: center ;
}

.header-logo-img {
  width: 100%;
}

.header-search_bar {
  width: 450px;
  height: 35px;
  position: relative;
  left: -60px;
}

.layout-profile {
  display: flex;
  width: 6vh;
  height: 6vh;
}

.layout-profile .layout-profile-avatar {
  width: 100%;
  border-radius: 50%;
}

.header-search_bar-input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  border-radius: 20px;
  padding: 0 40px 0 10px;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 15px;
  line-height: 15px;
}

.header-search_bar-btn {
  width: 30px;
  height: 30px;
  background-color: var(--green-color);
  border: none;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  right: 3px;
  color: #fff;
}

.header-search_bar-link{
  width: 100%;
  min-height: 100%;
  text-decoration: none;
  color: #fff;
  position: relative;
}

.header-search_bar-btn:hover {
  background-color: rgba(24, 138, 70, 0.8);
}

.header-search_bar-icon {
  position: absolute;
  top : 5px;
  left: 6px;
  height: 20px;
  width: 20px;
}

.header-login_register {
  text-decoration: none;
  color: var(--text-color-2);
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  position: relative;
}

.header-login_register:hover {
  color: var(--link-color);
}

.header-login_register:first-child:after {
  content: "";
  border: 0.5px solid var(--text-color-2);
  position: absolute;
  top: 0;
  bottom: 0;
  right: -6px;
}

.header-login_register:first-child {
  margin-right: 10px;
}

.header-sticky_nav {
  height: 40px;
  background-color: var(--header-color-2);
}

.header-sticky_nav-list {
  width: 300px;
  height: 100%;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-sticky_nav-item {
  text-decoration: none;
  color: var(--text-color-1);
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
}

.header-sticky_nav-item:hover {
  color: var(--link-color);
}