@import url('../../index.css');

.main-comic-container {
  width: 100%;
  background-color: #EBEBEB;
}

.main-comic {
  /* width: 100%; */
  max-width: 1200px;
  padding: 1.5% 1.5% 0 1.5%;
  display: flex;
  background-color: var(--primary-color);
  width: 1200px;
  margin: auto
}

.center {
  width: 70%;
  left: 0;
} 

.rank {
  width: 30%;
  right: 0;
}

.rank .main-comic-rank-board {
  width: 30%;
}

/* title in comic page */
.center .link {
  display: flex;
  gap: 0.5vw;
  padding-left: 0;
  margin-bottom: 0;
}

.link .link-item {
  text-decoration: none;
  color: var(--link-color);
  font-size: 16px;
  font-weight: 600;
}

.link .link-item:hover {
  color: var(--hover-text-color)
}

.title {
  padding-left: 0.3%;
  padding-bottom: 1%;
}

.title-name {
  color: var(--text-color-1);
  transform: translateX(0%);
  margin-bottom: 25px;
}

.title-image {
  width: 390px;
  height: 425px;
  margin-right: 2%;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.title-image img {
  height: 100%;
  width: 100%;
}

.title-information {
  width: 60%;
  border-radius: 15px;
  border: 1px solid black;
  padding: 30px 0;
  padding-left: 20px;
  font-size: 14px;
  font-weight: 600;
  margin-right: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.list-infor .col:last-child {
  padding-right: 20%;
}

.main-comic .tital-image-cover-urlg {
  width: 90%;
  height: 100%;
}

.title-name {
  padding-top: 1vh;
  padding-left: 7vw;
}

.title-center {
  display: flex;
}

.list-infor p {
  font-size: 20px;
}

.title-button {
  margin-left: -0.5vw;
}

.title-button .btn {
  margin-left: 0.5vw;
  border-radius: 20px;
}

.content,
.chapter {
  margin-top: 5vh;
}

.main-comic h4 {
  color: var(--header-color-1);
  border-bottom: 1px var(--header-color-1) solid;
}

.list-chapter-content {
  border: 0.5px var(--grey-color-1) solid;
  padding: 1% 2% 1% 2%;
}

.list-chapter-content .row {
  border-bottom: 0.5px var(--grey-color-1) dashed;
}

.star-icon {
  font-size: 24px;
  color: #eeff02;
  margin-bottom: 3px;
  margin-left: 8px;
}

.rating-button {
  height: 100%;
  outline: none;
  border: none;
  background-color: #1BB0F0;
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  border-radius: 3px;
  margin-left: 10px;
}

.rating-section {
  width: 170px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 70px;
}

.rating-star {
  font-size: 24px;
  color: #ccc;
  cursor: pointer;
}

.user-rating {
  display: flex;
}

.main-comic-comment-wrapper {
  width: 70%;
}

.main-comic-comment {
  background-color: #fff;
  max-width: 1200px;
  margin: 0 auto;
  padding: 26px;
}