select
{
  width:150px;
  height: 30px;
  font-size: 20px;
}
body {
  font-family: Tahoma,sans-serif,Helvetica,Arial;
  font-weight: 400;
  font-size: 14px;
  background-color: #ebebeb
}
.Logo_background{
  position: absolute;
  width: 100%;
  height: 80px;
  left: 0px;
  top: -4px;
  background: #21258E;
}
.Gray_after{
  position: absolute;
  width: 100%;
  height: 50px;
  left: 0px;
  top: 76px;
  background: #ADADAD;
}

.Background{
  position: absolute;
  width: 1206px;
  height: 3974px;
  left: 13%;
  top: 0px;

  background: #D9D9D9;
  
}

.Link{
position: absolute;
width: 78px;
height: 19px;
left: 160px;
top: 143px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;
text-align: center;

color: #1BB0F0;
}
.btnbtn-danger
{
  border-radius: 5px;
  outline:none;
  background-color: #D9534F;
  border-radius: 5px;
  font-size:19px;
  color: white;
  text-align:center;
}
.btnbtn-danger:hover {
  color: #b13531;
}
.btnbtn-success
{
  border-radius: 5px;
  outline:none;
  background-color: #5CB85C;
  border-radius: 5px;
  font-size:19px;
  color: white;
  text-align:center;
  align-items: center;
}

.btnbtn-success:hover {
  color: #387938;
}
.Top_Navi_Bar{
  position: relative;
  left: 15%;
  top: 143px;
  
  color: #3346ec;
}

.text-button1
{
  outline:none;
  background: transparent;
  font-size: 21px;
  border:None;
  color: #3346ec;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
}
.text-button1:hover {
  color: rgb(9, 9, 172);
}
.Title{
  position: absolute;
  width: 323px;
  height: 39px;
  left: 15%;
  top: 199px;
  border:None;
  outline: None;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  /* identical to box height */
  text-align: center;
  color: #3346ec;
}
.Title:hover
{
  color: #1523a1
}

.Pass{

position: absolute;
width: 26px;
height: 19px;
left: 515px;
top: 211px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;
text-align: center;

color: #0b2bdf;
}
.Chap{
  position: absolute;
  width: 155px;
  height: 39px;
  left: 37%;
  top: 199px;
  border:None;
  outline: None;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  background-color: transparent;
  line-height: 39px;
  /* identical to box height */
  text-align: center;
  
  color: #617D8F;
}
.Chap:hover
{
  color:#2e404b;
}
.Rectangle_move{
box-sizing: border-box;

position: absolute;
width: 1120px;
height: 81px;
left: 16%;
top: 256px;

background: #D9EDF7;
opacity: 0.8;
border: 1px solid #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 15px;
}

/* Sử dụng mũi tên ( <- ) hoặc (-> ) để chuyển chapter ( ^.^ ) */
.Text_instruct{
position: absolute;
width: 435px;
height: 19px;
left: 35%;
top: 288px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;
text-align: center;

color: #617D8F;
}
.icon_button{
position: absolute;
left: 34%;
top: 359px;
font-size: 20px;
text-align: center;

}

.comic-page {
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comic-page img {
  width: 100%;
  max-width: 500px;
  height: auto;
  margin:0;
  z-index: 1;
}
.comic-page img:first-child {
  margin-top: 370px;
}
.nav_end_chap{
  
  position: relative;
  margin-top: 20px;
  
  font-size: 12px;
  text-align: center;
}
.nav_end
{
  position: relative;
  margin-top: 25px;
  left: 15%;
  color: blue;
}

.commentbox
{
  overflow: scroll;
  position: relative;
  margin-top: 80px;
  position: absolute;
  width: 1157px;
  border-radius: 10px;
  border:1px solid #000000;
  left: 15%;
  top: 3303px;
  background-color: white;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 19px;
  
  }
.Nav_menu
{
/* Trang Chủ */
position: absolute;
top: 90px;
left:41%;
z-index: 1;
text-align: center;
}
.Nav_button
{
/* Trang Chủ */
position: relative;
color: black;
left: 0px;
top: 0px;
font-size: 16px;
border:None;
background-color: transparent;

}
.Nav_button:hover
{
  color: blue;
}
.Logo
{

  position: absolute;
  
  left: 30px;
  top:20px;
  font-family: 'Irish Grover';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 24px;
  color: white
}
input
{
  position: absolute;
  width: 331px;
  height: 38px;
  left:39%;
  top: 3%;
  font-size: 19px;
  background: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 20px;
}

.Avatar
{
  position: absolute;
  left: 82%;
  top: 1%;
}
.Avatar img 
{
  width: 60px;
  
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}
.Username
{
  position: absolute;
  width: 93px;
  height: 18px;
  left: 87%;
  top: 4%;
  border:None;
  outline: None;
  background-color: transparent;
  display:inline-block;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 19px;
  color:white;
}
.Username:hover
{
  color: rgb(61, 53, 53)
}