@import url('../../index.css');

.main-comic {
  width: 60%;
  margin: 0 20% 0 20%;
  margin-top: -0.8%;
  padding: 1.5% 0 0 1.5%;
  display: flex;
  background-color: var(--primary-color);
}

.center {
  width: 70%;
  left: 0;
} 

.rank {
  width: 30%;
  right: 0;
}

/* title in comic page */
.center .link {
  display: flex;
  gap: 0.5vw;
  padding-left: 0;
  margin-bottom: 0;
}

.link .link-item {
  text-decoration: none;
}

.link .link-item:hover {
  color: var(--hover-text-color)
}

.title {
  background-color: var(--grey-color-1);
  padding-left: 0.3%;
  padding-bottom: 1%;
}

.title-image {
  width: 40%;
  padding-left: 2%;
}

.title-information {
  width: 60%;
}

img {
  width: 90%;
  height: 100%;
}

.title-name {
  padding-top: 1vh;
  padding-left: 7vw;
}

.title-center {
  display: flex;
}

.list-infor {
  margin-left: 0.5vw; 
}

.title-button {
  margin-top: 40%;
  margin-left: 0.5vw;
}

.title-button .btn {
  margin-left: 0.5vw;
}

.content,
.chapter {
  margin-top: 5vh;
}

h4 {
  color: var(--header-color-1);
  border-bottom: 1px var(--header-color-1) solid;
}

.list-chapter-content {
  border: 0.5px var(--grey-color-1) solid;
  padding: 1% 2% 1% 2%;
}

.list-chapter-content .row {
  border-bottom: 0.5px var(--grey-color-1) dashed;
}


/* rank in comic page */
/* .rank { */
  /* padding-left: 2%; */
/* } */